COMPOSE_PROJECT_NAME=linguaframe

LINGUAFRAME_BACKEND_PORT=8080

MYSQL_DATABASE=linguaframe
MYSQL_USER=linguaframe
MYSQL_PASSWORD=linguaframe_dev_password
MYSQL_ROOT_PASSWORD=linguaframe_root_password
MYSQL_PORT=3306

REDIS_PORT=6379

RABBITMQ_USER=linguaframe
RABBITMQ_PASSWORD=linguaframe_dev_password
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

MINIO_ROOT_USER=linguaframe
MINIO_ROOT_PASSWORD=linguaframe_minio_password
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET=linguaframe-artifacts
